python==3.6.8
pytorch==1.7.1
torchvision==0.8.2
ipython>=7.9
PILLOW==8.1.0
PyYAML==5.4.1
TiffCapture==0.1.6
certifi
cycler
future
joblib
jupyterlab
jupyter
kiwisolver
matplotlib
numpy
pip
pyparsing
python-dateutil
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
